@{
    ViewBag.Title = "Home Page";
}




            

<div class="container">
    <div class="card">
        <div class="card-image">
            <img src="https://www.crashlogic.com/Images/CrashBack.jpg" style="height: 350px;" />
        </div>
    </div>
    <div class="row">
        <div class="col l6 m6 s12">
            <div class="card small blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title center-align"><i class="large material-icons ">access_time</i></br>On Your Time!</span>
                    <p>
                       Track Accidents on your time, NO waiting list, and NO annoying agents. Just fill out our easy online form!
                    </p>
                </div>
                <div class="card-action center-align">
                    <a class="waves-effect waves-light btn blue darken-4" href="~/Views/Home/InsertReportForm.cshtml">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col l6 m6 s12">
            <div class="card small blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title center-align"><i class="large material-icons ">info_outline</i></br>How to Track a Claim?</span>
                    <p>
                        A car accident is a stressful event, and you may feel relieved when you file your claim. However, it is not yet time to move on. The next step is tracking your car insurance claim until your claim is resolved.
                    </p>
                </div>
                <div class="card-action center-align">
                    <a class="waves-effect waves-light btn blue darken-4" href="https://www.dmv.org/insurance/how-to-track-a-car-insurance-claim.php">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>


